<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <span><%= link_to "Edit", edit_micropost_path(micropost.id) %> | <%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }  %> </span>
</li>